apiVersion: v1
kind: Service
metadata:
  name: nfs-server-service
  namespace: nfs-server
  annotations:
    metallb.io/loadBalancerIPs: 192.168.0.14
spec:
  type: LoadBalancer
  selector:
    app: nfs-server
  ports:
    - protocol: TCP
      port: 2049
      targetPort: 2049
      name: nfsv4
