apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: {{ .Values.namespace }}
  annotations:
    metallb.universe.tf/address-pool: default-pool
spec:
  type: LoadBalancer
  selector:
    app: postgresql-server
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
      name: postgres